<!DOCTYPE html>
<html>
<head>
    <title>Register / Login</title>
</head>
<body>
    <h2>Register</h2>
    <form method="POST" action="/">
        <label>Username:</label><br>
        <input type="text" name="user" required><br><br>
        
        <label>Password:</label><br>
        <input type="password" name="password" required><br><br>
        <label>mail:</label><br>
        <input type="text" name="mail" required><br><br>
        <input type="submit" value="Register">
    </form>

    <hr>

    <h2>Login</h2>
    <form method="POST" action="/login">
        <label>Username:</label><br>
        <input type="text" name="user" required><br><br>
        
        <label>Password:</label><br>
        <input type="password" name="password" required><br><br>
        
        <input type="submit" value="Login">
    </form>
</body>
</html>
